<mat-card>
  <h2 *ngIf="mode === 'edit'">Edit Patient</h2>
  <h2 *ngIf="mode === 'add'">Add Patient</h2>
  <form [formGroup]="form" (submit)="onSavePatient()">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name" />
      <mat-error *ngIf="form.get('name').invalid"
        >Please Enter Post Title</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <mat-select formControlName="address">
        <mat-option
          *ngFor="let address of addresses"
          [value]="address.address"
          >{{ address.address | uppercase }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('address').invalid"
        >Please Select Address</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Age" formControlName="age" />
      <mat-error *ngIf="form.get('age').invalid">Please Enter Age</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Family Count"
        formControlName="familyCount"
      />
      <mat-error *ngIf="form.get('familyCount').invalid"
        >Please Enter Count</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="tel"
        placeholder="Phone Number"
        formControlName="phone"
      />
      <mat-error *ngIf="form.get('phone').invalid"
        >Please Enter Phone Number</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let status of patientStatus"
          [value]="status.status"
          >{{ status.status | uppercase }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('status').invalid"
        >Please Select Status</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </form>
</mat-card>
