<mat-card>
  <form [formGroup]="form" (submit)="onSavePatient()">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name" />
      <mat-error *ngIf="form.get('name').invalid"
        >Please Enter Post Title</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        placeholder="Address"
        formControlName="address"
      ></textarea>
      <mat-error *ngIf="form.get('address').invalid"
        >Please Enter Address</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Age" formControlName="age" />
      <mat-error *ngIf="form.get('age').invalid">Please Enter Age</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Family Count"
        formControlName="familyCount"
      />
      <mat-error *ngIf="form.get('familyCount').invalid"
        >Please Enter Count</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Phone Number"
        formControlName="phone"
      />
      <mat-error *ngIf="form.get('phone').invalid"
        >Please Enter Count</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let status of patientStatus"
          [value]="status.status"
          >{{ status.status | uppercase }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save
    </button>
  </form>
</mat-card>
